.container
  height: 350px
  max-width: 230px
  padding: 15px 25px
  text-align: center
  display: flex
  flex-direction: column
  flex: 1
  color: black
  align-items: center
  background-color: white
  margin: 20px
  cursor: pointer
  @media screen and (max-width: 700px)
    max-width: 350px
    padding-bottom: 50px
  &:hover
    box-shadow: 0 3px 7px rgba(0,0,0,0.5)
  h5
    font-weight: 600
    font-size: 17px
    margin: 10px 0
  hr
    width: 60px
    border: 1px solid #cccccc
    margin: 15px 0
  img
    width: 48px
    height: 48px
    margin: 20px 0
