.container
  box-sizing: border-box
  padding: 0 14px 11.5px
  border: 1px solid white
  width: 100%
  min-width: 285px
  margin: 15px 0
  position: relative
  display: flex


.title
  font-size: 20px
  font-weight: 500
  text-align: left
  padding-top: 10px
  text-overflow: ellipsis
  word-break: break-word
  margin-bottom: 5px
  box-sizing: border-box
  line-height: 1.4

.label
  display: flex
  flex-direction: column
  color: white
  margin-bottom: 10px

.inputRadio
  display: inline-block
  width: 25px
  float: left
  margin: 14px 5px 0 0
.wrap
  padding-right: 10px
.description
  font-size: 13px

